*, *::before, *::after{
    box-sizing: border-box;
}

body {
    background-color: #DDD;
}

.card {
    --width: 5em;
    --height: calc(var(--width) * 1.4);
    width: var(--width);
    height: var(--height);
    background-color: white;
    border: 1px solid black;
    border-radius: .25em;
    padding: .5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: relative;
}
.pip {
    grid-row: span;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

[data-value="2"] .pip:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
}
[data-value="2"] .pip:nth-child(2){
    grid-row-start: 7;
    grid-column-start: 2;
}


[data-suit="heart"] .pip,
[data-suit="diamond"] .pip {
    color: red;
}

[data-suit="spade"] .pip,
[data-suit="club"] .pip {
    color: black;
}
[data-suit="heart"] .pip {
    background-image: url("img/heart.svg");
}

.corner-number {
    position: absolute;
}

.corner-number.top {
    top: .25em;
    left: .25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
[data-suit="heart"].corner-number::after {
    content: url("img/heart.svg");
}